/*模糊的背景颜色铺垫*/

.bgDiv {
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0.3;
    height: 250px;
    background-color: #ffffff;
    background-image: url(../img/pic.jpg);
    z-index: -55;
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
    filter: blur(100px);
}


/*整体下移*/

.block {
    height: 125px;
}


/*轮播+菜单*/

.main .lb-menu {
    border-radius: 5px;
    position: relative;
    background-color: #93999f;
    box-shadow: 0 12px 24px 0 rgba(7,17,27,.2);
}


/*轮播左侧的菜单*/

.main .lb-menu .menuContent {
    width: 216px;
    height: 444px;
    background-color: #2b333b;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color: #ffffff;
    padding: 5px 0;
    position: relative;
}

.main .lb-menu .menuContent .menu .menu-item a
{
	display: block;
    color: rgba(255,255,255,.6);
    padding: 0 16px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 62px;
    transition: all .1s;
    position: relative;
}

.main .lb-menu .menuContent .menu .menu-item :hover,.main .lb-menu .menuContent .menu .menu-item a.hover
{
	background-color: rgba(255,255,255,0.3);
}

/*轮播左侧的一级菜单*/
.main .lb-menu .menuContent .menu-item{
	padding: 0 0 0 15px;
	height: 62px;
	line-height: 62px;
}

.main .lb-menu .menuContent .menu-item span{
	position: absolute;
	top: 22px;
	right: 15px;
	font-size: 11px;
}

/*二级菜单*/
.secondMenuContent{
	position: absolute;
	background-color: #ffffff;
	left: 216px;
	top: 0;
	width: 700px;
	height: 100%;
	z-index: 500;
}

/*二级菜单的内容*/
.main .lb-menu .secondMenuContent .menu{
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f8fafc;
}
.main .lb-menu .secondMenuContent .menu-item {
	height: 100%;
	position: relative;
}
.main .lb-menu .secondMenuContent .menu-item .menu-item-a{
	width: 100%;
	height: 245px;
	padding: 7px 40px 40px;
	position: relative;
	background-color: #fff;
}

.main .lb-menu .secondMenuContent .menu-item .menu-item-header{
	position: relative;
    height: 1px;
    margin: 35px 0 23px;
    background-color: rgba(77,85,93,.08);

	
}
.main .lb-menu .secondMenuContent .menu-item .menu-item-header span{
    position: absolute;
    top: -12px;
    left: 0;
    width: 36px;
    font-size: 13px;
    font-weight: 600;
    color: #07111B;
    line-height: 24px;
    background-color: #fff;
}

.main .lb-menu .secondMenuContent .menu-item .menu-item-content a{
	padding: 0 15px 0 0;

	
}
/*二级菜单中的视频部分*/
.main .lb-menu .secondMenuContent .menu-item .menu-item-video{
	width: 100%;
	height: 200px;
	padding: 10px 40px;
	position: absolute;
	bottom: 0
}

.main .lb-menu .secondMenuContent .menu-item .menu-item-video ul li{
	float: left;
	width: 50%;
	height: 58px;
    margin: 10px 0;
}

.main .lb-menu .secondMenuContent .menu-item .menu-item-video ul li .course-img{
	width: 60px;
	height: 40px;
	border-radius:3px;
}

.main .lb-menu .secondMenuContent .menu-item .menu-item-video ul li .course-detail{
	margin-left: 10px
}

.main .lb-menu .secondMenuContent .menu-item .menu-item-video ul li .course-detail span.glyphicon{
	font-size: 11px;
	color: #ababab;
}

/*二级菜单显示*/

/*轮播*/

.main .lb-menu .lbContent {
    width: 954px;
    height: 444px;
}

/*轮播淡入淡出的效果*/
.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}


/*轮播图片的大小*/

.main .lb-menu .lbContent #myCarousel img {
    width: 100%;
    height: 444px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}